.Card {
  padding: 1rem;
  border: 1px solid var(--line-break-color);
  border-radius: var(--border-radius);
}

.Card .Title {
  line-height: 2.5rem;
}

.Card .ProjectsGridItem:hover .Title {
  color: var(--secondary-text-color);
}