.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 1rem 0;
}

.footer h2 {
  color: var(--secondary-description-text-color);
  text-align: center;
}
